.boardContainer {
    width: 65vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 1;
    position: absolute;
    top: 5%;
    left: 7%;

    background-image: url("/board.webp"); ;
    background-size: cover;
    background-position: center;
}


.boardDyinamicContainer{
    width: 94%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



    margin-bottom: 1vh;
    z-index: 2;
}