.unfolding-board {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-64.6%) translateY(-100%) scale(0.9);
  width: 70vw;
  height: 90vh;
  overflow: hidden;
  background: url('/loadingScreen.webp') center/cover no-repeat;
  z-index: 1000;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;

}

.unfolding-board.open {
  animation: unfoldingBoardEnter 0.8s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}

.unfolding-board.closing {
  animation: unfoldingBoardExit 0.8s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}

/* Animación de entrada */
@keyframes unfoldingBoardEnter {
  0% {
    transform: translateX(-64.6%) translateY(-100%) scale(0.9);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-64.6%) translateY(0) scale(1);
    opacity: 1;
  }
}

/* Animación de salida */
@keyframes unfoldingBoardExit {
  0% {
    transform: translateX(-64.6%) translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-64.6%) translateY(-100%) scale(0.9);
    opacity: 0;
  }
}

.unfolding-board-content {
  padding: 0;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.4s 0.4s ease-out, transform 0.4s 0.4s ease-out;
  width: 87%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unfolding-board.open .unfolding-board-content {
  opacity: 1;
  transform: scale(1);
}

.unfolding-board.closing .unfolding-board-content {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
} 

.unfolding-board-close{
  position: absolute;
  top: 5%;
  right: 6%;
  width: 4vw!important;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}