/* Este es el contenedor principal de la pantalla principal de la aplicacion */
.mainScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* En este espacio se guarda el logo de la aplicacion */
.mainScreenLogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50%;

}

.stickersContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50%;


    top: 15%;
    left: 65%;

    position: absolute;
}

.stickerObjectHome{
    width: 20%!important;
    height: auto!important;

    object-fit: contain!important;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
    padding: 10px;

    position: absolute;

}

.sticker01{
    top: -5%;
    left: -5%;
}
.sticker02{
    top: 10%;
    left: 10%;
}
.sticker03{
    width: 90%;
    top: 40%;
    left: -5%;
}



.mainScreenLogoContainer img{
    width: 60%;
    height: auto;
    object-fit: contain;

    padding: 25px;
}

/* En este espacio se guardan los botones del menu */
.mainScreenButtonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;


}

.mainScreenButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;


}

.main-buttons{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.mainScreenFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;

}

.mainScreenFooter p{
    color: white;
    font-size: clamp(.5rem, 1vw, 1rem);
    opacity: 0.6;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: 'Fredericka the Great', cursive;
}

.btn{
    width: 50%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.btn:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 0 white)
    drop-shadow(1px 0 0 white)
    drop-shadow(-1px 0 0 white)
    drop-shadow(0 1px 0 white)
    drop-shadow(0 -1px 0 white);
}


.login-btn{
    width: 30%;
    height: auto;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.user-info {
    margin-bottom: 20px;
}

.user-welcome {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.2rem;
}

.user-avatar {
    border: 2px solid white;
}

.loading-message {
    color: white;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-message {
    font-family: 'Fredericka the Great', cursive;
}
